<div id="review_form">
  <%= form_for ([@product, @review]) do |f| %>
      <div id="error_explanation">
        <% if @review.errors.any? %>
            <%= render partial: 'product_review_error' %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :comment %>
        <br/>
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
