<% content_for :head do %>
    <%= javascript_include_tag 'products/products_index', 'data-turbolinks-track' => true %>
<% end %>
<h1>Products <small><%= page_entries_info @products %></small></h1>
<%= content_tag :div, link_to('New Product', new_product_path, class: 'col-md-12'), class: 'row' %>
<div class="row" id="products">
<%= render @products %>
</div>
<%= paginate @products %>