<% content_for :head do %>
    <%= javascript_include_tag 'products/product_show', 'data-turbolinks-track' => true %>
<% end %>
<div class="row">
  <%= content_tag(:div, content_tag(:h2, @product.name), class: 'col-md-12') %>
</div>
<div class="row">
  <%= content_tag(:div, @product.description, class: 'col-md-6') %>
  <%= content_tag(:div, number_to_currency(@product.price_in_dollars), class: 'col-md-6') %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to('Edit', edit_product_path(@product), class: 'btn btn-warning') %>
    <%= link_to('Delete', product_path(@product), class: 'btn btn-danger', method: :delete) %>
  </div>
</div>

<% if current_user %>
    <div class="row">
      <div class="col-md-12" id="reviews"><h3>Reviews</h3>

        <p>Reviews for <%= @product.name %></p>
        <% @product.reviews.each do |review| %>
        <% if review.id %>
            <%= render partial: 'product_review', locals: {review: review} %>
        <% end %>
        <% end %></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>New Review</h4>
        <%= render partial:  'review_form' %>
      </div>
    </div>


<% else %>
    <p>Please <%= link_to 'log in', new_session_path %> to add a review.</p>
<% end %>