<div class="row">
  <%= content_tag(:div, content_tag(:h2, @product.name), class: 'col-md-12') %>
</div>
<div class="row">
  <%= content_tag(:div, @product.description, class: 'col-md-6') %>
  <%= content_tag(:div, number_to_currency(@product.price_in_dollars), class: 'col-md-6') %>
</div>
<div class="row">
  <div class="col-md-12">
  <%= link_to('Edit', edit_product_path(@product), class: 'btn btn-warning') %>
  <%= link_to('Delete', product_path(@product), class: 'btn btn-danger', method: :delete) %>
  </div>
</div>
